<div class="jumbotron">
  <h2 class="title">结伴</h2>

  <p class="slogan">我们邀请你，
  <br />
  一起登上那蜿蜒的阶梯，一起经历欢笑与泪水，
  <br />
  在成长中我们已融入那美好的风景，向着下一座高峰继续前行。
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上跟上</a></p>
</div>

<section id="company">
  <div class= "container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="search" class="img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
